@model AppTicketCoral.Models.VentasBayer

 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>VentasBayer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Hora)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hora)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NoTicket)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NoTicket)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NoEmpleado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NoEmpleado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Costo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Costo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cantidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cantidad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Operador)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Operador)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Impuesto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Impuesto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Subsidio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Subsidio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Site)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Site)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
