@model IEnumerable<AppTicketCoral.Models.ProductosPop>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <form>

        Texto a buscar <input id="searchTerm" type="text" onkeyup="doSearch()" class="Buscador" />

    </form>
    <p>
        <table class="table" id="datos">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Costo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proveedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Iva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubPro)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Costo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proveedor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Iva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubPro)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
                <tr class='noSearch hide'>

                    <td colspan="9"></td>

                </tr>
            }

        </table>
    </p>
</body>
</html>