@model IEnumerable<AppTicketCoral.Models.Usuario>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <form>

        Texto a buscar <input id="searchTerm" type="text" onkeyup="doSearch()" class="Buscador" />

    </form>
    <p>
        <table class="table" id="datos">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Operacion)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Operacion)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                    </td>
                </tr>
                <tr class='noSearch hide'>

                    <td colspan="4"></td>

                </tr>
            }

        </table>
    </p>
</body>
</html>
