@model AppTicketCoral.Models.Producto

 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Producto</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Costo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Costo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Proveedor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Proveedor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CCompra)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CCompra)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Iva)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Iva)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SubPro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SubPro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Empresa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Empresa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.codigo_cabys)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.codigo_cabys)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
